<li class="dropdown">
  <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
      
      <li>
        <a href="https://rayaan-app.herokuapp.com">Rayaan Ahmed (Customer,order) </a>
      </li>
      <li>
        <a href="https://aakash-valluru.herokuapp.com">Aakash (Product) </a>
      </li>
      <li>
        <a href="https://bandaria03.herokuapp.com">Manikanta Bandari (OrderListItem) </a>
      </li>
  </ul>
</li>