<br/>
<br/>
<h2>Confirm deletion of customer</h2>
<br/>
<br/> ID:
<%=  customer._id %>
  <br> Email:
  <%=customer.email%>
    <br/> Given Name:
    <%=customer.given%>
      <br/> Family Name:
      <%=customer.family%>
      <br/> Address:
      <br/>Street 1:
      <%=customer.street1%>
      </br>Street 2:
      <%=customer.street2%>
    </br>City:
    <%=customer.city%>
  </br>State:
  <%=customer.state%>
</br>Zip:
<%=customer.zip%>
<br/>
<%=customer.country%>

        <br/>
        <br/>

            <form method="get" action="/customer">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/customer/delete/<%= customer._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>